*{
    padding: 0;
    margin: 0;
    text-align: center;
}

html{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;    
}

.fundo {
    width: 100%;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #006837 0%, #ffff) 100%;
}

.titulo{
    font-size: 25px;
    font-weight: bold;
    color: yellow;
    margin: 0 auto;

}
.mensJustificativa{
    font-size: 15px;
}

#justificativa_txt {
    background-color: white;
    width: 400px;
    height: 300px;
    margin: 5px;
    color: black;
    text-align:right ;
    padding: 5px;
}

#salvarMensagem{
    width: 200px;
    font-size: 15px;
    height: 30px;
}

.menu{
    align-items: center;
}
.botoes {
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);;
    margin: 3px;
    color:white;
    border-radius: 50%;
}

.botoes:hover{
    background-color: black;
    
}

